{% extends 'layout.html' %}
{% block body %}
    <p><a href="/static/">static/</a></p>
    <div class="file">
      <P><a href="/static/css/">css/</a></P>
      <p><a href="/static/images/">images/</a></p>
      <div id="open">
        <p><a href="/static/images/apple-touch-icon.png">apple-touch-icon.png</a></p>
        <p><a href="/static/images/avatar.png">avatar.png</a></p>
        <p><a href="/static/images/bad.png">bad.png</a></p>
        <p><a href="/static/images/favicon-16x16.png">favicon-16x16.png</a></p>
        <p><a href="/static/images/favicon-32x32.png">favicon-32x32.png</a></p>
        <p><a href="/static/images/glitch.gif">glitch.gif</a></p>
        <p><a href="/static/images/safari-pinned-tab.svg">safari-pinned-tab.svg</a></p>
      </div>
      <p><a href="/static/fonts/">fonts/</a></p>
      <p><a href="/static/scripts/">scripts/</a></p>
    </div>
{% endblock %}