{% extends 'layout.html' %}
{% block title %}Contact{% endblock %}
{% block body %}
        <main class="post">
          <article>
            <h2 class="post-title" style="user-select: none">Contact</h2>
            <div class="post-content" id="contact-link" style="user-select: none">
              <br />
              <br />
              <h3>Github</h3>
              <p>You can contact me threw my github.</p>
              <center><a href="https://github.com/mr-cheeezz" target="_blank" rel="noopener">github.com/mr-cheeezz</a></center>
              <hr />
              <h3>Discord</h3>
              <p>You can aswell add me on discord and dm me about any issues.</p>
              <center><p><a href="discord://">Mr_Cheeezz#0526</a> | <a href="http://discord.gg/Jt4pNsVB7J" target="_blank" rel="noopener">Server</a></p></center>
              <hr />
              <h3>Twitter</h3>
              <p>You can dm me on twitter.</p>
              <center><a href="https://twitter.com/mr_cheeezz" target="_blank" rel="noopener">twitter.com/mr_cheeezz</a></center>
              <hr />
              <h3>Twitch</h3>
              <p>You can contact me via twitch whispers or <strong>@me</strong> in my chat.</p>
              <center><a href="http://twitch.tv/mr_cheeezz" target="_blank" rel="noopener">twitch.tv/mr_cheeezz</a></center>
              <hr />
              <h3>Email</h3>
              <p>You can email me via my email. I check it around every 2 to 3 days</p>
              <center><a href="maillto:mrcheeezz@mrcheeezz.com">mrcheeezz@mrcheeezz.com</a></center>
            </div>
          </article>
        </main>
{% endblock %}